work-obj*.cf
*.o
*.ghw
*.vcd
ref/*.bin
ref/*.pt
ref/runq
ref/runq_dump
ref/run
mem/golden/gen.txt
__pycache__/
ref/run_i16
ref/run_i8fq
.superpowers/
server/llama_server
server/llama_server_arm
server/*.o
ref/dump_luts
ref/test_fx
ref/test_rmsnorm
ref/test_rope
ref/test_softmax
ref/test_swiglu
ref/*.tokerr
mem/weights_l0/
*.notes
hw/ip_proj/
